*
{
	margin:0px;
}

#header
{
	height:100px;
	background-color: blue;
}

#header a
{
	color:white;
	font-size:28px;
	font-weight:bolder;
}

#middle
{
	height:500px;
	background-color:gray;
}

#footer
{
	height:100px;
	background-color: blue;
}